- const {stories: {heading, items}} = require('../data/home.json'); 

section#stories
    .bg-video
        video.bg-video__content(autoplay muted loop poster= require('../static/bg-video-1x.jpg'))
            source(src= require('../static/video.mp4') media='min-width: 600px' type='video/mp4')
            source(src= require('../static/video.webm') media='min-width: 600px'  type='video/webm')
            you browser is not supported tag video!
    header.u-ct.u-mb-big
        h2.heading-2= heading
        
    each story in items
        - let {img: {url, alt}, heading, name, text} = story;
        - let srcSet = [require(`../static/${url}-1x.jpg`) + ' 1x', require(`../static/${url}-2x.jpg`) + ' 2x'].join(',');
        
        .row
            .story
                .figure.story__shape
                    img.story__img(srcset= srcSet alt= alt)
                    figcaption.story__caption= name
                .story__text
                    h3.heading-3.u-mb-small= heading
                    p= text

    footer.u-ct.u-mt-huge
        a(href="#").btn-text Read all Stories
          
